<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlkaWallet/Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../Assets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="icon" href="../images/wallet.png">    
</head>

<body class="body__login">
    <header class="login__header">
        <span class="login__header-container"><img src="/images/LOGO ALKEMY AZUL CON NEGRO.webp" alt="Logo Alkemy" class="login__icon"></span>
    </header>
    <main class="login__content">
        <div class="form-floating mb-3">
            <input type="email" class="form-control"  id="loginUser" placeholder="correo electronico" />
            <label for="loginUser">Correo electronico</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="loginPass" placeholder="Password" />
            <label for="loginPass">Password</label>
        </div>
        <button type="button" class="btn btn-primary loginbtn" id="loginbtn">Login</button>
        <a href="register.html" class="crear__cuenta">Create Account</a>
    </main>

    <footer class="footer__login">
        <span class="footer__login-span">
            © 2026 TuWallet. Todos los derechos reservados
        </span>
        <span class="footer__login-span">
            Correo de soporte: soporte@AlkaWallet.com
        </span>
    </footer>
<script src="/Assets/main.js"></script>
<script src="../Assets/jquery-3.7.1.min.js"></script>    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>    
</body>

</html>