* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ibm plex sans", sans-serif;
    
}

html, body{
    height: 100%;
}
body{
    background:linear-gradient(to bottom, #5FB0B7,#A14EBF);

}



.vistas__header{
    display: flex;
    height: 15vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo{
    max-height: 80%;
}
/* Estilos para el Login  */
.body__login{
display: flex;
flex-direction: column;
}
.login__header{
    display: flex;
    height: 15vh;
}

.login__header-container{
    margin: auto;
}
.login__icon{
    height: 12vh;
}

.login__content{
    width: 60vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 800px;
    margin-top: 15vh;
}

.form-control{
    opacity: 0.9;
    background-color: whitesmoke;
    font-size: 1.3rem;
    box-shadow: 0px 2px 9px #0007;
}

.form-control:hover{
    outline: 2px solid white;
}
.btn{
    margin-top: 10px;
    box-shadow: 0px 2px 9px #0007;
    background-color:#5FB0B7 ;
}

.btn:hover{
    outline: 2px solid white;
    background-color: #5FB0B7 ;
    opacity: 0.7;
}

.crear__cuenta{
    font-size: 1.3rem;

}
.crear__cuenta:hover{
    color:#A14EBF;
}

.footer__login{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    margin: 15px;

}

/* Estilos para el registro de Usuarios*/

.register__body{
    
    display: flex;
    flex-direction: column;
    align-items: center;

}
.form__register{
    margin: auto;
    width: 100%;
}

.footer__register{
    justify-content: space-between;
    margin-bottom: 15px;

}
/* Estilos para Menu Principal */

.menu__header{
    display: flex;
    justify-content: center;
}

.menu__container{
    display: flex;
    flex-direction: column;
    container-name: menu__container;
    container-type: inline-size;
}

.menu__titulo{
    font-weight: 900;
    font-size: 7rem;
    justify-self: center;
    color: white;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}

.balance{
    margin: auto;
    width: 40%;
    height: 20%;
    background-color: rgba(196, 229, 238, 0.938);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
}

.balance h2, p{
    font-size:2.5rem;
    color:#242323e1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}



.balance:hover{
    background-color: white;      
}

.balance {
    color: #5FB0B7;
}
.menu__opciones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 30px; 
    gap: 10px;
}

.opcion{
    display: grid;
    background-color: aliceblue;
    margin: auto;
    margin-top: 20px;
    width: 45vw;
    height:20vh;
    text-decoration:none;
    align-items: center;
    justify-items: center;
    color:#AF2BBF ;
    border-radius: 12px;
    box-shadow:0px 2px 9px #0007;  
    max-width: 600px;
}

.opcion1{
    background-image:linear-gradient(#a14ebfa1,#5fb0b745), url(../images/descarga.jfif);
    font-size: 2.5em;
    background-size: cover;
}
.opcion2{
    background-image:linear-gradient(#a14ebfa0,#5fb0b76d), url(../images/deposito.png);
    font-size: 2.5em;
    background-size: contain;
}

.opcion3{
    background-image:linear-gradient(#a14ebf7c,#5fb0b7b0), url(../images/contactos.jfif);
    font-size: 2.5em;
    background-size: cover;
}

.opcion4{
    background-image:linear-gradient(#a14ebf3b,#5fb0b7a4), url(../images/Historial.jfif);
    font-size: 2.5em;
}

.opcion-name{
    font-size:2.5rem;
    font-weight: 800;
}

.opcion:hover{
    outline:3px solid white;
    text-shadow: 2px 2px 4px white;  
}

/* Menu Media Queries */

@container menu__container (max-width: 900px){
    .balance{
        width: 90%;
        gap: 10px;
        min-width: 350px;
    }

    .balance h2, p{
        font-size:2rem;
        text-wrap: pretty;
    }

    .menu__opciones{
        grid-template-columns: 1fr;    
    }
    .opcion{
        min-width: 300px;
        margin: auto;
        margin-top: 15px;
        height: 15vh;

    }

    .menu__titulo{
    font-weight: 900;
    font-size: 3rem;
    justify-self: center;
    }

}



/* Estilos para historial */    

.historial__titulo{
    color: white;
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.transactionsTable{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    border-collapse: collapse;
    box-shadow: 0px 2px 9px #0007;
    max-width: 1000px;
    background: linear-gradient(to bottom, #e1e5e580, #0d0d0d11);
    font-size: large;
    padding: 15px;
    outline: white solid 2px;
    text-align: center;
    border-radius: 4px;
}

.transactionsTable td{
    padding: 10px;
    text-align: center;
    outline: white solid 1px;
}

 /* ----Estilos para Deposito ---- */

.deposito__titulo{
    color: white;
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.deposito__body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-content: space-between;
}


.deposito__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 100%;
    margin: auto;
}

.deposito__input{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 60vw;
    max-width: 500px;
}




.balance__deposito{
    margin: auto;
    height: 15vh;
    width: 40vw;
    background-color: rgba(196, 229, 238, 0.938);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
}

.balance__deposito:hover{
    background-color: white;    
}
.footer__deposito{
    display: flex;
    align-items: end;
    width: 90vw;
    justify-content: space-between;
}

/* estilos para transferencias  */

.send__titulo{
    color: white;
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.send_body{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 40vh;

}

.send__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 70vh;
    width: 100%;
    margin: auto;
    gap: 15px;
}

.balance__send{
    margin: auto;
    height: 15vh;
    width: 40vw;    
    background-color: rgba(196, 229, 238, 0.938);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
}

.form__send{
    width: 40vw;
    max-width: 500px;
}

.botonsend{
    width: 300px;
    height: 50px;
}

/* Estilos para Contactos  */


.contactos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 80vh;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;

}

.contactos__input{
    width: 90%;
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addcontacto{
    margin-left: 10px;
    width: 100px;
    align-self: auto;
}

.contactos h1{
    color: white;
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.eliminarcontacto{
    width: 80%;
    height: 100%;
}